@font-face {
  font-family: "Inter";
  src: url("./assets/font/inter/Inter-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/font/inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/font/inter/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/font/inter/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

:root {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 255);
  background-color: #22222200;
  /* background-image: url("/public/bg.png"); */

}

*:focus {
  outline: none;
}

body {
  font-family: "Inter", sans-serif;
  user-select: none;
  overflow: hidden;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}